html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#map {
    height: 100%;
}

#filterView {
    background-color: aliceblue;
    width: 200px;
    bottom: 25px;
    position: absolute;
}

#listView {
    height: 600px;
    width: 300px;
    background-color: aliceblue;
    right: 0px;
    top: 0px;
    position:absolute;
}