html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#map {
    height: 100%;
}

#searchView {
    background-color: aliceblue;
    width: 200px;
    transform: translate3d(10px, -120%, 0);
}
